.App {
  width: 375px;
  height: 667px;
  margin: auto;
  background-color: white;
  border: 1px solid gray;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
}

.App::-webkit-scrollbar { 
  display: none;
}
