.container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.itemContainer {
  display: flex;
  column-gap: 8px;
}

.itemLogo {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
}

.itemContent {
  width: calc(100% - 38px);
  padding-bottom: 18px;
  border-bottom: 1px solid #BFBFBF;
}

.busMainContent {
  width: calc(100% - 38px);
}

.itemContainer:last-child .itemContent {
  padding: 0;
  border: none;
}

.title {
  font-size: 15px;
  font-weight: bold;
  color: #484848;
}

.description {
  font-size: 13px;
  color: #5A5A5A;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  margin-top: 4px;
}

.tourGroup {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
  margin-top: 10px;
}

.tour {
  font-size: 13px;
  color: #FFFFFF;
  padding: 4px 10px;
  border-radius: 13px;
}
